@tailwind components;

@layer components {
  .option {
    @apply cursor-pointer hover:bg-gray-100 transition duration-200 ease-out p-2 hover:text-gray-700 rounded-lg;
  }
}

::-webkit-scrollbar {
  background: #ffffff;

  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
